.columns
  .column.has-text-centered
    = pagy_prev_link(@pagy, html: { class: "button is-pulled-left" })
    = form_for(questions_path, method: :get, html: { class: "is-inline-flex" }) do |f|
      = text_field_tag :q, params[:q], placeholder: "Search", class: "is-wide"
    = pagy_next_link(@pagy, html: { class: "button is-pulled-right" })
