<section>
  <div class="container">
    <div class="columns">
      <div class="column is-offset-2 is-8">
        <%= render "shared/notifications" %>
        <h1>Edit your question</h1>
        <%= render "form" %>
      </div>
    </div>
  </div>
</section>
