%section
  .container
    .columns
      .column.is-8
        .content
          %h1 How it works
          %p Spaced helps you memorize anything that fits on a flash card with the help of the #{link_to("spaced repetition technique", "https://en.wikipedia.org/wiki/Spaced_repetition", target: :blank)}.
          %p You start by adding flash cards to the system, in the form of questions and answers. You can use tags to organize this information in any way you like.
          %p Every day you'll be presented with a particular set of cards. Every time you answer a card, you'll be asked to rate your performance, mainly how easy it was to recall the answer. The next time we assign you a set of questions, difficult cards will show up more often than the easier ones. Through constant practice and repetition, you'll eventually build all this information into your memory.
          %p You can use this technique to learn foreign words, phone numbers, historical facts, medical terms, programming languages, keyboard shortcuts and more.
          %h1 About the project
          %p My name is #{link_to("Florin Lipan", "https://lipanski.com", target: :blank)} and Spaced is my pet project and my Ruby on Rails playground. The hosted version of the project doesn't guarantee 100% uptime or 100% data integrity, but I'll do my best to keep the server running and your data safe and intact. You can always run your own version under the GPL-3.0 license. The source code is available #{link_to("here", "https://github.com/lipanski/spaced", target: :blank)}.


