%section
  .container
    .columns
      .column.is-offset-3.is-6
        .content
          %h1 How it works
          %p Spaced helps you memorize anything that fits on a flash card by using the #{link_to("spaced repetition technique", "https://en.wikipedia.org/wiki/Spaced_repetition", target: :blank)}.
          %p You start by adding flash cards to the system, in the form of questions and answers. You can use tags to organize this information in any way you like.
          %p Each day you'll be presented with a particular set of cards. Every time you answer a card, you'll be asked to rate your performance, mainly how easy it was to recall the answer. The next time we assign you a set of questions, difficult cards will show up more often than the easier ones. Through constant practice and repetition, you'll eventually build the information from your cards into your memory.
          %p You can use this technique to learn foreign words, phone numbers, historical facts, medical terms, programming languages, keyboard shortcuts and more.
          %h1 About
          %p My name is #{link_to("Florin Lipan", "https://lipanski.com", target: :blank)} and Spaced is my pet project and my Ruby on Rails playground. I'll do my best to keep this server running and your data safe, but I can't promise it will always be available. You can run your own version under the GPL-3.0 license. The source code is available on #{link_to("Github", "https://github.com/lipanski/spaced", target: :blank)}.


