.hero.is-medium.is-fullheight-with-navbar
  .hero-body
    .container
      %h1 Memorize anything that can fit on a flash card
      %h2 Foreign words, phone numbers, historical facts, medical terms, programming languages, keyboard shortcuts and more.
      %h2
        = link_to "Start here", start_path, class: "is-underline"
        or
        = link_to "Find out more", about_path
