<div class="flex flex-grow bg-gradient-to-br from-black to-gray-800 text-white">
  <div class="container mx-auto flex flex-col flex-grow justify-center">
    <h1>Memorize anything that can fit on a flash card</h1>
    <h2>Foreign words, phone numbers, historical facts, medical terms, programming languages, keyboard shortcuts and more.</h2>
    <h2>
      <%= link_to "Start here", start_path, class: "underline" %>
      or
      <%= link_to "Find out more", about_path %>
    </h2>
  </div>
</div>
