@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  @apply text-gray-800;
}

a {
  @apply text-blue-500;
}

a:hover {
  @apply text-blue-400;
}

nav a {
  @apply text-gray-900;
}

.text-white a:hover {
  @apply text-blue-400;
}

h1 {
  @apply text-3xl font-bold mb-4;
}

h2 {
  @apply text-xl mb-4;
}

h2.subtitle {
  @apply -mt-4;
}

p {
  @apply mb-4;
}

section {
  @apply container mx-auto mt-8 mt-8;
}

.field {
  @apply mb-4;
}

.field input, .field textarea {
  @apply block w-full;
}

.field.horizontal input, .field.horizontal textarea {
  @apply inline-block w-auto;
}

.field.horizontal {
  @apply flex space-x-2;
}

p.help {
  @apply text-sm text-gray-500 mb-0;
}

p.help.error {
  @apply text-red-500;
}

label {
  @apply font-bold;
}

input, textarea {
  @apply border rounded border-gray-200 p-1;
}

input:hover, textarea:hover {
  @apply shadow-inner;
}

input:focus, textarea:focus {
  @apply border-blue-200 shadow-inner outline-none;
}

.button {
  @apply text-gray-900 px-4 py-2 bg-gray-200 leading-tight border border-gray-200 rounded;
}

.button:hover {
  @apply text-gray-800 bg-gray-100 border-gray-100 outline-none cursor-pointer;
}

.button.primary {
  @apply text-white bg-gray-900 border-gray-900;
}

.button.primary:hover {
  @apply text-white bg-gray-700 border-gray-700;
}

.button.outline {
  @apply bg-white text-gray-900;
}

button.link, input[type='submit'].link {
  @apply text-blue-500 border-none bg-transparent outline-none p-0 cursor-pointer;
}

button.link:hover, input[type='submit'].link:hover {
  @apply text-blue-400 shadow-none;
}

.button[disabled] {
  @apply bg-gray-100 border-gray-100 cursor-not-allowed;
}

.button_to {
  display: inline-block;
}

span.tag {
  @apply bg-gray-800 text-white text-sm border border-gray-900 rounded py-1 px-2;
}

@for $i from 0 through 5 {
  span.grade {
    max-height: 64px;
  }

  span.grade.grade-#{$i}[disabled] {
    content: url("~images/icons/grade-#{$i}-outline.svg");
  }

  span.grade.grade-#{$i}:not([disabled]) {
    content: url("~images/icons/grade-#{$i}.svg");
  }

  span.grade.grade-#{$i}:not([disabled]):hover {
    opacity: 0.5;
  }
}
