<article class="bg-gray-200 p-4 mb-4">
  <div class="flex flex-row">
    <div>
      <%= image_tag(image_path, class: "max-h-10 pr-4") %>
    </div>
    <div>
      <div class="font-bold"><%= title %></div>
      <div><%= description %></div>
    </div>
  </div>
</article>
