<% if alert %>
  <div class="notification error" data-controller="notification">
    <button data-action="notification#hide" class="float-right">✖</button>
    <%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="notification success" data-controller="notification">
    <button data-action="notification#hide" class="float-right">✖</button>
    <%= notice %>
  </div>
<% end %>
