$pagination-current-background-color: #1c1c1c;
$pagination-current-border-color: #1c1c1c;

@import "../node_modules/bulma/bulma.sass";

// NOTE: keep the HTML dry and easy to read
section {
  @extend .section;
}

.hero {
  @extend .is-dark.is-bold;
}

label {
  @extend .label;
}

input[type="text"], input[type="email"], input[type="password"] {
  @extend .input;
}

textarea {
  @extend .textarea;
}

h1 {
  @extend .title;
}

h2 {
  @extend .subtitle;
}

.navbar .navbar-brand a {
  @extend .has-text-dark;
}

a[disabled] {
  @extend .has-text-grey;
  cursor: not-allowed;
  text-decoration: none;
  opacity: 0.7;
}

.card .card-footer a {
  @extend .card-footer-item;
}
